# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

pyenv/
venv/
local/

*.cfg
debug_file

.DS_Store
.vscode

experiments/2024-06-12-nature2003/hpcc_run_data/
pyEnv/
third-party/avida/
__pycache__

*.csv
